h1, h2, h3, p, div {
  font-family: sans-serif;
}

h2 {
  font-weight: 400;
  font-size: 14pt;
}

body {
  background: #EEE;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.panels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selection-panel {
  width: 45%;
}

.viewer-panel {
  width: 50%;
}
.viewer-panel .container {
  height: 90%;
  max-height: 606px;
  position: sticky;
  top: 40px;
}
.viewer-panel .controls {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
.viewer-panel .legend {
  width: 200px;
  position: relative;
}
.viewer-panel .legend .colorbar {
  height: 28px;
  border: 1px solid black;
  background-image: linear-gradient(to right, white, black);
}
.viewer-panel .legend .ticks {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.viewer-panel .legend .ticks .tick {
  width: 40px;
  text-align: center;
  margin: 0 -20px;
}
.viewer-panel .legend .label {
  margin: 0 6px;
  position: absolute;
  left: 100%;
  top: 0;
}
.viewer-panel .share-button {
  line-height: 36px;
  background: #ddd;
  padding: 0 8px;
  border: 2px solid gray;
  cursor: pointer;
}
.viewer-panel .share-button:hover {
  background: #ccc;
}

.button-row {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.button-row input {
  opacity: 0;
  position: fixed;
  width: 0;
}
.button-row input:checked + label {
  background: lightskyblue;
}
.button-row label {
  border: 2px solid #999999;
  background: rgba(135, 206, 250, 0);
  border-right: none;
  width: 100%;
  text-align: center;
  padding: 5px 2px;
  transition: background-color 30ms ease-out;
  cursor: pointer;
}
.button-row label:last-child {
  border-right: 2px solid #999999;
}
.button-row label:hover {
  background: #cccccc;
}

.slide-container {
  max-width: 400px;
}
.slide-container .label-container {
  width: calc(100% - 2*$slider-handle-radius);
  height: 20px;
  margin: 0 8px;
  position: relative;
}
.slide-container .label {
  text-align: center;
  width: 40px;
  margin-left: -20px;
  line-height: 24px;
  position: absolute;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  margin: 0;
}
.slider:focus {
  border: none;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #999999;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.2);
}

.player {
  width: 100%;
  text-align: center;
  height: 100%;
  max-height: 675px;
  border: 2px solid black;
  box-sizing: border-box;
  background: white;
}
.player p {
  padding-top: 38%;
  margin: 0;
}
.player video {
  width: 100%;
  height: 100%;
}
.player .vid {
  height: 100%;
  width: 100%;
}

.IC-selector {
  overflow: scroll;
  display: flex;
  margin-bottom: 40px;
  flex-direction: row;
  perspective: 600px;
  perspective-origin: 10% 50%;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-left: -40px;
}
.IC-selector .IC-option {
  font-size: 10pt;
  width: 120px;
  min-width: 120px;
  margin-right: -60px;
  text-align: center;
  padding: 10px;
  transition: ease-in 50ms background, ease-in-out 100ms transform, ease 400ms margin;
  cursor: pointer;
  transform: rotateY(-70deg);
  background: #e6e6e6;
  box-shadow: 6px 4px 30px rgba(0, 0, 0, 0.1);
}
.IC-selector .IC-option:nth-child(8) {
  z-index: 0;
}
.IC-selector .IC-option:nth-child(7) {
  z-index: 1;
}
.IC-selector .IC-option:nth-child(6) {
  z-index: 2;
}
.IC-selector .IC-option:nth-child(5) {
  z-index: 3;
}
.IC-selector .IC-option:nth-child(4) {
  z-index: 4;
}
.IC-selector .IC-option:nth-child(3) {
  z-index: 5;
}
.IC-selector .IC-option:nth-child(2) {
  z-index: 6;
}
.IC-selector .IC-option:nth-child(1) {
  z-index: 7;
}
.IC-selector .IC-option:hover {
  background: #e6e6e6;
  transform: rotateY(0) scale(1.1);
  margin-right: -10px;
  margin-left: 40px;
}
.IC-selector .IC-option[data-selected=true] {
  background: LightSkyBlue;
}
.IC-selector .IC-option img {
  width: 80%;
}

.parameter-widget {
  position: relative;
  border-bottom: 2px solid #888;
  border-left: 2px solid #888;
  margin: 20px;
  margin-top: 40px;
  height: 300px;
  margin-left: 40px;
}
.parameter-widget .xlabel {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 100%;
  margin-top: 40px;
}
.parameter-widget .ylabel {
  position: absolute;
  top: 46%;
  right: 100%;
  margin-right: 30px;
}
.parameter-widget .xtick {
  position: absolute;
  top: 100%;
  margin-top: 5px;
}
.parameter-widget .xtick:nth-child(1) {
  left: 0%;
}
.parameter-widget .xtick:nth-child(2) {
  left: 20%;
}
.parameter-widget .xtick:nth-child(3) {
  left: 40%;
}
.parameter-widget .xtick:nth-child(4) {
  left: 60%;
}
.parameter-widget .xtick:nth-child(5) {
  left: 80%;
}
.parameter-widget .ytick {
  position: absolute;
  right: 100%;
  margin-right: 5px;
}
.parameter-widget .ytick:first-child {
  bottom: 0;
}
.parameter-widget .ytick:first-child:before {
  content: "0";
}
.parameter-widget .ytick:nth-child(2) {
  bottom: 30%;
}
.parameter-widget .ytick:nth-child(2):before {
  content: "1";
}
.parameter-widget .ytick:nth-child(3) {
  bottom: 60%;
}
.parameter-widget .ytick:nth-child(3):before {
  content: "2";
}
.parameter-widget .ytick:nth-child(4) {
  bottom: 90%;
}
.parameter-widget .ytick:nth-child(4):before {
  content: "3";
}
.parameter-widget .node {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #999999;
  box-shadow: -2px 10px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all ease-in-out 100ms;
  transform-origin: 50% 100%;
  margin-bottom: 16px;
}
.parameter-widget .node:hover {
  transform: scale(1.2);
}
.parameter-widget .node:after {
  content: "";
  border: 8px solid transparent;
  border-top-color: #999999;
  position: absolute;
  top: 4.1ex;
  left: 0;
  margin-top: -2ex;
  transform: scale(1, 2);
}
.parameter-widget .node[data-selected=true] {
  background: LightSkyBlue;
}
.parameter-widget .node[data-selected=true]:after {
  border-top-color: LightSkyBlue;
}
.parameter-widget .node[data-selected=true] .label {
  opacity: 1;
}
.parameter-widget .node .label {
  opacity: 0;
  pointer-events: none;
  transition: ease-in 80ms opacity;
  text-align: left;
  width: 60px;
  position: absolute;
  bottom: 160%;
  left: -15px;
  z-index: 100;
}
