@charset "UTF-8";
body {
  margin: 0;
  background: #DDD;
  font-family: sans-serif;
}

.container {
  width: calc(100% - 40px);
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 20px;
}

.flexbox {
  display: flex;
}

.panel-display .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.panel-display .info .params {
  text-align: right;
}
.panel-display .info .params .line span {
  display: inline-block;
  width: 30px;
}

.panel-control {
  width: 200px;
  margin-left: 40px;
}

#canvas {
  background: whitesmoke;
  border: 2px solid black;
  width: 100%;
  max-width: 800px;
}

.button {
  display: block;
  cursor: pointer;
  line-height: 4ex;
  text-align: center;
  color: whitesmoke;
}

.play {
  display: flex;
}
.play * {
  background: #222;
  width: 80px;
  margin-right: 4px;
}

#playbutton {
  width: 80px;
}
#playbutton:after {
  content: "Run ‣";
}

#skipbutton:after {
  content: "+100 ‣‣";
}

#playbutton-cb {
  display: none;
}
#playbutton-cb:checked + label:after {
  content: "Pause ❙❙";
}

.zoom {
  display: flex;
  margin-top: 10px;
  margin-bottom: 40px;
}
.zoom div {
  background: #777;
  width: 100px;
  margin-right: 4px;
}

div[class^=input-] {
  display: flex;
  position: relative;
}
div[class^=input-] .title {
  width: 160px;
}
div[class^=input-] input {
  background: #FFF;
  margin-left: 6px;
  width: 24px;
  text-align: right;
}

input[type=text] ~ .prompt {
  height: 2ex;
  width: 80px;
  position: absolute;
  top: 0;
  left: 100%;
  margin-right: -80px;
  padding-left: 5px;
}
input[type=text]:focus ~ .prompt:after {
  content: " press ENTER";
  font-size: 11px;
  color: rgba(200, 50, 50, 0.7);
}

.model-toggle {
  margin: 30px 0;
}
.model-toggle input {
  display: none;
}
.model-toggle input:checked ~ label .switch {
  transform: translateX(20px);
}
.model-toggle label {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.model-toggle .switch-label-container {
  width: 80px;
  display: flex;
  align-items: center;
}
.model-toggle .switch-container {
  height: 20px;
  width: 40px;
  margin: 0 8px;
  border: 2px solid #999;
  border-radius: 12px;
  background: #fff;
}
.model-toggle .switch {
  display: block;
  background: #222;
  height: 100%;
  width: 20px;
  border-radius: 10px;
  transition: 150ms transform ease;
}

#export {
  margin-top: 60px;
  width: 130px;
  background: #222;
}

#target-options * {
  line-height: 3ex;
  text-decoration: underline;
}

#d3copyright {
  margin-top: 80px;
  font-size: 12px;
}
