### Pre-processed files for web pages (i.e., CodeKit source directory)
/source

# Created by https://www.toptal.com/developers/gitignore/api/macos,codekit
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,codekit

### CodeKit ###
# General CodeKit files to ignore
config.codekit
config.codekit3
/min

### CodeKit Patch ###
*/codekit-config.json
.codekit-cache

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.toptal.com/developers/gitignore/api/macos,codekit
